.Main {
    /* border: 2px solid red; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    background: #23074d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mirroredPlayer {
    transform: scaleX(-1);
    /* Apply horizontal flip transformation */
}

.remotebox {
    /* border: 2px solid blue; */
    position: absolute;
    top: 60px;
    margin: 5px;
    padding: 0px;
    height: 80%;
    /* height: fit-content; */
    width: 80%;
    /* width: fit-content; */
    border-radius: 20px;
    overflow: hidden;
    /* background: inherit; 
    backdrop-filter: blur(50px);  */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(63, 30, 30, 0.671);
    box-shadow: 0 0 10px 2px rgb(127, 125, 255);
}

.currentbox {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
    /* border: 2px solid green; */
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.671);
    box-shadow: 0 0 10px 2px rgb(127, 125, 255);

}

.buttons {
    position: absolute;
    padding: 5px;
    /* z-index: 20; */
    /* bottom: 20px; */
    top: 5px;
    margin: 1px auto;
    /* border: 2px solid red; */
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.button::before,
.button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.button::before {
    top: 0;
    border-bottom-width: 0;
}

.button::after {
    bottom: 0;
    border-top-width: 0;
}

.button:active,
.button:focus {
    outline: none;
}

.button:active::before,
.button:active::after {
    right: 3px;
    left: 3px;
}

.button:active::before {
    top: 3px;
}

.button:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.button:hover {
    color: #0f1923;
}

.button:hover .button_sl {
    width: calc(100% + 15px);
}

.button:hover .button_lg::after {
    background-color: #fff;
}


@media screen and (max-width: 800px) {
    .remotebox {
        width: 90%;
        height: 80%;
    }

    .currentbox {
        height: 100px;
        width: 100px;
    }

    /* .buttons{} */
}